src/main/mule/fakestore-client-exp-wrapper-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="fakestore-client-exp-wrapper-api-main">
        <http:listener config-ref="fakestore-client-exp-wrapper-api-httpListenerConfig" path="/api/${layer}/${context}/${version}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fakestore-client-exp-wrapper-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Common Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Common Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Common Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Common Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Common Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Common Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="18cc1d86-3081-4dd5-bd02-84dfd824e985" type="HTTP:UNAUTHORIZED">
				<ee:transform doc:name="Common Error" doc:id="0559da2e-3b6c-4944-847e-979f183ad46b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value="401" doc:name="Set httpStatus" doc:id="0b0f9638-bd8b-4b35-8fbf-2ef6b6df4e69" variableName="httpStatus"/>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fakestore-client-exp-wrapper-api-console">
        <http:listener config-ref="fakestore-client-exp-wrapper-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fakestore-client-exp-wrapper-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\products\(id):application\json:fakestore-client-exp-wrapper-api-config">
		<flow-ref doc:name="updateProduct" doc:id="72fa125a-4244-4b97-86d0-4b565c3904a9" name="updateProduct-implFlow"/>
    </flow>
    <flow name="get:\products:fakestore-client-exp-wrapper-api-config">
		<flow-ref doc:name="getAllProducts" doc:id="10a3ad58-b480-42f7-a6a6-82e649939eb7" name="getTop10Products-implFlow"/>
    </flow>
    <flow name="get:\products\top10:application\json:fakestore-client-exp-wrapper-api-config">
		<flow-ref doc:name="getTop10Products" doc:id="4c11a8ba-084f-4008-bdde-50d0905452c5" name="getTop10Products-implFlow"/>
    </flow>
    <flow name="get:\products\(id):fakestore-client-exp-wrapper-api-config">
		<flow-ref doc:name="getProductByID" doc:id="9516e421-4c00-40bb-b1a7-46f75c837ac0" name="getProductByID-implFlow"/>
    </flow>
    <flow name="post:\products:application\json:fakestore-client-exp-wrapper-api-config">
		<flow-ref doc:name="createNewProduct" doc:id="4569f036-3cb0-4461-9cdf-73d2daf7ee61" name="createNewProduct-implFlow"/>
    </flow>
</mule>
